html {
  background: url("img/GRID02.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.darkfooter {
  background-color: #111;
}

.darkfooter a {
  color: #777;
}

.darkfooter p {
  font-size: 12px;
}
